- if @locals[:os] == 'debian'

  %p.b= t :to_install

  %pre
    :preserve
      sudo -s
      echo "deb http://deb.bitmask.net/debian #{@locals[:distro]} main" > /etc/apt/sources.list.d/bitmask.list
      wget -O- https://dl.bitmask.net/apt.key | apt-key add -
      apt update
      apt install bitmask leap-archive-keyring

  %p.b= t :to_remove

  %pre
    :preserve
      sudo -s
      apt remove bitmask leap-archive-keyring
      apt-key del 0x1E34A1828E207901
      rm /etc/apt/sources.list.d/bitmask.list

  %p.b= t :upgrade_os

  %pre
    :preserve
      sudo -s
      echo "deb http://deb.bitmask.net/debian #{@locals[:distro]} main" > /etc/apt/sources.list.d/bitmask.list
      apt update
      apt upgrade

- else

  - prior = {"xenial" => "wily", "wily" => "vivid", "vivid" => "utopic"}

  %p.b= t :to_install

  %pre
    :preserve
      sudo -s
      add-apt-repository "deb http://deb.bitmask.net/debian #{@locals[:distro]} main"
      wget -O- https://dl.bitmask.net/apt.key | apt-key add -
      apt update
      apt install bitmask leap-archive-keyring

  %p.b= t :to_remove

  %pre
    :preserve
      sudo -s
      apt remove bitmask leap-archive-keyring
      apt-key del 0x1E34A1828E207901
      add-apt-repository --remove "deb http://deb.bitmask.net/debian #{@locals[:distro]} main"

  %p.b= t :upgrade_os

  %pre
    :preserve
      sudo -s
      add-apt-repository --remove "deb http://deb.bitmask.net/debian #{prior[@locals[:distro]]} main"
      add-apt-repository "deb http://deb.bitmask.net/debian #{@locals[:distro]} main"
      apt update
      apt upgrade

