.bm-masthead {
  height: 64px;
  width: 100%;
  background: url(/assets/rainbow-masthead-centered.png) 50% 50% no-repeat;
  display: block;
  background-size: cover;
}

.bm-bar {
  background-color: #333;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  font-size: 120%;
  padding: 6px;
  text-align: center;
}

.bm-main {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.bm-front-buttons .btn {
  width: 100%;
  margin-top: 20px;
}

.bm-front-buttons .col-sm-3 {
  text-align: center;
}

footer {
  margin: 20px 0;
  text-align:center;
  line-height: 1.5em;
  color: #666;
  font-style: italic;
}

/**
 ** typography
 **/


pre {
   display:block;
   padding:10.5px;
   margin:0 0 11px;
   background-color:#f5f5f5;
   border:1px solid #ccc;
   border:1px solid rgba(0,0,0,0.15);
   border-radius:4px;
   white-space:pre;
   white-space:pre-wrap;
   word-break:break-all;
   word-wrap:break-word
}

.b {
  font-weight: bold;
}

.p {
  margin-top: 1em;
  margin-bottom: 1em;
}

#TOC {
  margin-top: 1em;
  margin-bottom: 1em;
}
#TOC ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#TOC li ul {
  margin-left: 20px;
  padding: 0;
}

/**
 ** FILE LISTING TABLE
 **/

table {
  width:100%;
  border-collapse:collapse;
}
tr {
  outline:0;
  border:0;
}
tr:hover td {
  background:#eee;
}
th {
  text-align:left;
  padding-right:20px;
}
/* 2nd Column: Filename */
th + th {
  width:65%;
}
/* 3rd Column: Last Modified */
th + th + th {
}
/* 4th Column: Size */
th + th + th + th {
  width:5%;
}
tr td:first-of-type {
  padding-left:10px;
  padding-right:10px;
}
td {
  padding:5px 0;
  outline:0;
  border:0;
  border-bottom:1px solid #edf1f5;
  vertical-align:middle;
  text-align:left;
}
td a{
  display: block;
}
tr.parent a {
  color:#9099A3;
}
.parent a:hover {
  color:#2281d0;
}
