- @title = 'home'

.row
  .col-sm-8.col-sm-offset-2
    .p.alert.alert-danger
      %i.fa.fa-warning
      <b>WARNING:</b> Bitmask is still experimental. Please do not use these beta releases of Bitmask for situations where a compromise of your data could put you in danger.
      <!-- Also, although Bitmask is improving rapidly, it is possible that you could lose your email when using an early beta release. -->

.row.bm-front-buttons
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"/android"}
      %i.fa.fa-android.fa-4x
      %br
      %b Android
      %br
      %small 4.0 and above
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"/linux"}
      %i.fa.fa-linux.fa-4x
      %br
      %b GNU/Linux
      %br
      %small Debian, Ubuntu, Mint, etc
  .col-sm-3.col-xs-6
    %a.btn.btn-default.disabled{:href=>"/mac"}
      %i.fa.fa-apple.fa-4x
      %br
      %b Mac OS
      %br
      %small Coming very soon...
  .col-sm-3.col-xs-6
    %a.btn.btn-default.disabled{:href=>"/windows"}
      %i.fa.fa-windows.fa-4x
      %br
      %b Windows
      %br
      %small Coming soon...
